In [121]:
import pandas as pd
import os
import pathlib

In [62]:
!ls

README.md            json                 transcripts_csv
concat_p             preprocess_csv.ipynb transcripts_csv_2
emotion_annotations  test.csv             transcripts_csv_3

In [3]:
df_p1_p2 = pd.read_csv('transcripts_csv/p1.p2.m4a-20220330163422.csv')
df_p1_p2

,results/alternatives/0/confidence,results/alternatives/0/transcript,results/alternatives/0/words/0/confidence,results/alternatives/0/words/0/endTime,results/alternatives/0/words/0/startTime,results/alternatives/0/words/0/word,results/channelTag,results/languageCode,results/resultEndTime
0,0.765099,all right first one the state for this accepti...,0.912839,2.400s,2.300s,all,2,en-us,25.888572s
1,0.765099,NaN,0.912839,3s,2.400s,right,2,en-us,25.888572s
2,0.765099,NaN,0.912839,3.300s,3s,first,2,en-us,25.888572s
3,0.765099,NaN,0.912839,3.400s,3.300s,one,2,en-us,25.888572s
4,0.765099,NaN,0.912839,3.500s,3.400s,the,2,en-us,25.888572s
...,...,...,...,...,...,...,...,...,...
3448,0.774450,NaN,0.724903,852.700s,852.400s,now,0,en-us,853.982100s
3449,0.481978,Sprint is over now,0.362569,851.600s,851.500s,Sprint,0,en-us,854.002141s
3450,0.481978,NaN,0.628419,852s,851.600s,is,0,en-us,854.002141s
3451,0.481978,NaN,0.580469,852.400s,852.100s,over,0,en-us,854.002141s
3452,0.481978,NaN,0.356456,852.600s,852.400s,now,0,en-us,854.002141s

In [58]:
df_p1_self = pd.read_csv('emotion_annotations/self_annotations/P1.self.csv')
df_p1_self

,seconds,arousal,valence,cheerful,happy,angry,nervous,sad,boredom,confusion,...,surprise,none_1,confrustion,contempt,dejection,disgust,eureka,pride,sorrow,none_2
0,5,1,2,1,1,1,1,1,x,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
1,10,1,2,1,1,1,1,1,x,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
2,15,2,2,1,1,1,1,1,NaN,NaN,...,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
3,20,2,3,1,1,1,1,1,NaN,NaN,...,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
4,25,2,3,1,1,1,1,1,NaN,NaN,...,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,885,3,3,1,1,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
177,890,3,3,1,1,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
178,895,4,4,3,3,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
179,900,3,3,2,2,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
180,905,2,3,1,1,1,1,1,NaN,NaN,...,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x

In [59]:
df_p2_self = pd.read_csv('emotion_annotations/self_annotations/P2.self.csv')
df_p2_self

,seconds,arousal,valence,cheerful,happy,angry,nervous,sad,boredom,confusion,...,surprise,none_1,confrustion,contempt,dejection,disgust,eureka,pride,sorrow,none_2
0,5,4,3,2,2,1,3,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
1,10,4,3,2,2,1,3,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
2,15,4,3,2,2,1,3,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
3,20,4,3,2,2,1,3,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
4,25,4,3,2,2,1,3,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,880,2,4,2,3,1,1,1,NaN,NaN,...,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
176,885,2,3,2,3,1,1,1,NaN,NaN,...,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
177,890,2,3,2,4,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
178,895,2,3,2,4,1,2,1,NaN,NaN,...,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
179,900,2,3,2,4,1,2,1,NaN,NaN,...,NaN,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x

In [60]:
df_p1_p2_self = pd.concat([df_p1_self, df_p2_self], axis=1)
df_p1_p2_self.to_csv("p31_p32_self.csv", sep=',', index=False)

In [8]:
test = pd.read_csv('test.csv')
test

,results/alternatives/0/confidence,results/alternatives/0/transcript,results/alternatives/0/words/0/confidence,results/alternatives/0/words/0/endTime,results/alternatives/0/words/0/startTime,results/alternatives/0/words/0/word,results/channelTag,results/languageCode,results/resultEndTime,seconds,...,surprise.1,none_1.1,confrustion.1,contempt.1,dejection.1,disgust.1,eureka.1,pride.1,sorrow.1,none_2.1
0,0.765099,all right first one the state for this accepti...,0.912839,2.400s,2.300s,all,2,en-us,25.888572s,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
1,0.765099,NaN,0.912839,3s,2.400s,right,2,en-us,25.888572s,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
2,0.765099,NaN,0.912839,3.300s,3s,first,2,en-us,25.888572s,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
3,0.765099,NaN,0.912839,3.400s,3.300s,one,2,en-us,25.888572s,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
4,0.765099,NaN,0.912839,3.500s,3.400s,the,2,en-us,25.888572s,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,x
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3448,0.774450,NaN,0.724903,852.700s,852.400s,now,0,en-us,853.982100s,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3449,0.481978,Sprint is over now,0.362569,851.600s,851.500s,Sprint,0,en-us,854.002141s,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3450,0.481978,NaN,0.628419,852s,851.600s,is,0,en-us,854.002141s,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3451,0.481978,NaN,0.580469,852.400s,852.100s,over,0,en-us,854.002141s,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3452,0.481978,NaN,0.356456,852.600s,852.400s,now,0,en-us,854.002141s,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print(test['results/alternatives/0/confidence'])

0       0.765099
1       0.765099
2       0.765099
3       0.765099
4       0.765099
          ...
3448    0.774450
3449    0.481978
3450    0.481978
3451    0.481978
3452    0.481978
Name: results/alternatives/0/confidence, Length: 3453, dtype: float64

In [165]:
!ls

README.md            json                 transcripts_csv_2
concat_p             preprocess_csv.ipynb transcripts_csv_3
concat_p_transcript  test.csv
emotion_annotations  transcripts_csv

In [282]:
os.getcwd()

'/Users/williamhan/Desktop/GitHub/CMUSAIL'

In [152]:
os.chdir('../')

In [167]:
transcripts_csv_3 = 'transcripts_csv_3'
concat_p = 'concat_p'

csv_num = 1

    
    
for csv in sorted(os.listdir(transcripts_csv_3)):

    if '.csv' in csv:

        os.chdir(transcripts_csv_3)

        read = pd.read_csv(csv)

        os.chdir('../')

                
        
    for csv_1 in sorted(concat_p):

        #os.chdir('concat_p')

        if '.csv' in csv_1:

            os.chdir(concat_p)

            read1 = pd.read_csv(csv_1)

            os.chdir('../')

            

            #os.chdir('../')

        df = pd.concat([read, read1], axis=1)
        


        os.chdir('concat_p_transcript')

        df.to_csv(f'p{csv_num}.csv', sep=',', index=False)


        csv_num += 2

        os.chdir('../')
        
        break

In [204]:
!ls

README.md            json                 transcripts_csv_2
concat_p             preprocess_csv.ipynb transcripts_csv_3
concat_p_transcript  test.csv
emotion_annotations  transcripts_csv

In [284]:
csv_num = 1
for i in sorted(os.listdir('transcripts_csv_3')):

    if '.csv' in i:

        os.chdir('transcripts_csv_3')

        read = pd.read_csv(i)
        
        os.chdir('../')

        #print(read)


    for j in sorted(os.listdir('concat_p')):

        if '.csv' in j:

            os.chdir('concat_p')

            read1 = pd.read_csv(j)

            os.chdir('../')

            #print(read1)

            #break

        for col in read['reult/alternative/0/word/0/tartTime']:
            
            

            col1 = read1.iloc[:, 0]

            col2 = read1.iloc[:,23]

            while (col < col1):

                new_df = read1.iloc[:, 0:23]

                new2_df = read1.iloc[:, 23:]

                for i in read['results/channelTag']:

                    if i == 0:

                        pass

                    elif i < i.cummax():

                        df = pd.concat([read, new_df], axis = 1)

                    elif i == i.cummax():
                        df = pd.merge(df, new2_df, how = 'outer' )
                    else:
                        pass
                    
        os.chdir('concat_p_transcript')             
        df.to_csv(f'p{csv_num}.csv', sep=',', index=False)
        csv_num += 2
        
        os.chdir('../')

KeyError: 'reult/alternative/0/word/0/tartTime'

In [274]:
read['result/alternative/0/word/0/startTime'].dtype

KeyError: 'result/alternative/0/word/0/startTime'

In [267]:
!ls

README.md            json                 transcripts_csv_2
concat_p             preprocess_csv.ipynb transcripts_csv_3
concat_p_transcript  test.csv
emotion_annotations  transcripts_csv

In [278]:
df = pd.read_csv('transcripts_csv_3/p1.p2.m4a-20220330163422.csv')

In [279]:
df['reult/alternative/0/word/0/tartTime'].dtype

dtype('float64')